
#search {
    margin-right: 125px;
}

#appercu {
    height: 390px;
    background: gray;
}

.noborder{
    border-style: initial;
}

#form-art .button {
    width: 80px;
}

.grey {
    background: #cccccc;    
}

#form-art {
    margin: 20px 10% 20px 10%;

}

.myform {

    -moz-box-shadow: 0px 0px 1px #000000;
    -webkit-box-shadow: 0px 0px 1px #000000;
    box-shadow: 0px 0px 1px #000000;
    overflow: hidden;
    min-height: 390px;
    background: #ECECEC;
}

#add-oeuvre {

    float: right;
    margin-top: 10px;
}

.button {
    cursor: pointer;
}
.myform input {
    width: 80%;
}

#app-span {
    margin-bottom: 55px;
}

.cart figure, .cart p {
    float: left;
}

.cart figure {
    margin: 0;
}

.cart .button {
    min-width: 100px;
}

#appercu {
    margin-bottom: 20px;
}

#total-line{
    text-align: right;
}