
#search {
    margin-right: 125px;
}

#appercu {
    height: 390px;
    background: gray;
}

.noborder{
    border-style: initial;
}

#form-art .button {
    width: 80px;
}

.grey {
    background: #cccccc;    
}

#form-art {
    margin: 20px 10% 20px 10%;

}

.myform {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 1px #000000;
    -webkit-box-shadow: 0px 0px 1px #000000;
    box-shadow: 0px 0px 1px #000000;
    margin-top: 30px;
    overflow: hidden;
    min-height: 390px;
    background: #ECECEC;
}

.myform input {
    width: 80%;
}