@julius  :  'Julius Sans One', sans-serif;
@green : #40b7a0;
@red : #ec4343;
@dark : #525252;

* {
	list-style:none;
	color:@dark;
}

h1,h2,h3 {
	font-weight:normal;
}

.loader {
	position : absolute;
	top:300px;
}

h1 {
	
	color:@dark;
	font-size:25.5px;
}

h2 {
	font-weight:normal;
	color:@dark;
	font-size:20.5px;
}

.button {
	display:inline-block;
	color:#FFF !important;
	font-size:12px;
	text-align:center;
	padding:7px;
	font-weight:normal !i;
}


.page-header {
	border-color:#dbdbdb;
	h1,h2,h3 {
		background-image:url(../img/icon-puce.png);
		background-repeat:no-repeat;
		text-indent:55px;
	}
}

.spacer {
	width:85%;
	margin:0 auto;
	height:20px;
	margin-bottom:30px;
	border-bottom:dashed 2px #dbdbdb;
}

label {
	margin-right:7px;
}


.button:hover {
	text-decoration:none;
	background:@dark !important;
}

.button.green, .button.green:hover, .button.green:active, .button.green:visited {
	background: @green !important;
}


.button.red, .button.red:hover, .button.red:active, .button.red:visited {
	background: @red !important;
}


.auto {
	margin: 0 auto;
}

.red {
	background:#FF0;
}

.article-thumb {

	cursor:pointer;
	-moz-box-shadow: 0px 0px 9px #a0a0a0;
	-webkit-box-shadow: 0px 0px 9px #a0a0a0;
	box-shadow: 0px 0px 9px #a0a0a0;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	border:solid 1px #bababa;
	background:#f3f3f3;
	overflow:hidden;
	position:relative;
	padding-bottom:30px;
	margin-bottom:20px;
	height:350px;
	figure {
		padding: 0 0 0 0;
		margin:0 0 0 0;
		overflow:hidden;
		height:160px;
		img {
			width:100%;
		}
		.pict-descr{
			position: absolute;
			z-index: 4;
			background: #000;
			width: 100%;
			top: 0px;
			height: 160px;
			overflow: hidden;
			display:none;
			opacity:0;
			h1,h2,h3,h4{
				margin:50px 7px 7px 7px;
				padding: 0 0 0 0;
				color:#FFF;
				text-align:center;
			} 
			p {
				margin:0px 7px 0 7px;
				text-align:center;
				color:#FFF;
			}
		}
	}
	h3 {
		padding:10px 10px 0px 10px;
		margin:0px;
	}
	p {
		padding:10px;
		display:block;
		overflow:hidden;
		height:105px;
		margin-bottom:15px;
	}
	.button {
		position:absolute;
		bottom:0px;
		right:0px;
	}

}

.artist-list {
	overflow:hidden;
	li {
		float:left;
		margin-right:15px;
		margin-bottom:15px;
	}
}


.navbar .navbar-inner {
	background:#FFF;
	padding:7px 0px 7px 0px;
	.nav { 
		margin-top:15px;
		.active a{
			background:none;
			box-shadow:none;
			font-weight:bold;
		}
	}
}

.divider-slice {
	background: url(../img/bg-divider.jpg);
	height: 5px;
	position: absolute;
	z-index: 1000;
	width: 100%;
}

.header {	
	background:url(../img/satinweave.png);

	margin-top:88px;
	margin-bottom:30px;
	border-bottom:solid 1px #bababa;
}

.footer {
	background:#1d1d1d;
	text-align:center;
	color:#FFF;
	padding:50px 0 50px 0;
	margin-top:30px;
	p {
		text-align:center;
	}
}

